### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [30]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
pymoli_data = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
game_data = pd.read_csv(pymoli_data)

In [31]:
game_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players
#first check if these is missing data by
purchase_data.count()

In [32]:
#to check missing values in the data
game_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [33]:
player_count = len(game_data["SN"].unique())
player_count
summary_table = pd.DataFrame({"Total Player": [player_count]})
summary_table

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
#number of Unique items
unique_item_count = len(game_data["Item ID"].unique())
unique_item_count

#unique_item_name = len(game_data["Item Name"].unique())
#unique_item_name

183

In [35]:
#Average price of each item
mean_price=game_data["Price"].mean()
mean_price

3.050987179487176

In [36]:
#totoal purchases
total_purchases=game_data["Purchase ID"].count()
total_purchases

780

In [37]:
#total sales
total_sales=game_data["Price"].sum()
total_sales

2379.77

In [38]:
#game_data.describe()

In [39]:
#game_data["Average Price"] = game_data{"Average Price":["mean_price"].astype(float).map("$"{:,.2f}".format)}

In [40]:
#game_data= pd.DataFrame({"Average Price":[mean_price].map("${:,.2f}".format)})
#game_data= game_data{"Average Price":[mean_price].map("${:.2f}".format)},
                            # "Number of Purchases": [total_purchases],
                            # "Total Revenue": [total_sales].map("${:.2f}".format)})

In [41]:
summary_table = pd.DataFrame({"Number of Unique Items": [unique_item_count],
                             "Average Price": [mean_price],
                             "Number of Purchases": [total_purchases],
                             "Total Revenue": [total_sales]})
                                                               

summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [42]:
#summary_table["Average Price"] = summary_table["Average Price"].astype(float).map("$"{:,.2f}".format)                                                                  
#game_data["Average Price"] = str["Average Price"("${:.2f}".format)]
#file_df["population"] = file_df["population"].map("{:,}".format)
#file_df["other"] = file_df["other"].map("{:.2f}".format)
# to add $ sign

#summary_table["Average Price"]["Total Revenue"] = summary_table["Average Price"]["Total Revenue"].map("${:,.2f}".format)
#summary_table["Total Revenue"] = summary_table["Total Revenue"].astype(float).map("${:,.2f}".format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     183       3.050987                  780     $2,379.77

In [43]:
summary_table["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)
summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

groupby_gender= game_data.groupby("Gender")
groupby_gender.head()
#sortby_gender= game_data.sort_values("Male")
#sortby_gender.head()
# Grouping the DataFrame by "Assignee"
#assignee_group = eclipse_df.groupby("Assignee")

# Count how many of each component Assignees worked on and create DataFrame of the data
#assignee_work = pd.DataFrame(assignee_group["Component"].value_counts())
#assignee_work.head()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame